body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1{
    color: aqua;
}

/*
tags -- direct
class -- using a fullstop
id -- using #
*/
.sec{
    color: red;
}
#thr {
    color: green;
}
